*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(250, 253, 162);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
} 
.cabecalho-imagem {
    width: 15%;
}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 18px;
    font-size: 18px;
}
.curiosidade-imagem {
    width: 25%;
}
.curiosidades {
    background-color: rgb(250, 253, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 0;
}
.curiosidades-div-conteudo{
    width: 35%;
}
.curiosidades-titulo{
    padding: 24px 0;
}